@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
	--button-color: #2a73c7;
	--link-color: #5656df;
	--visited-link-color: #7542a5;
	--active-link-color: #ff0000;
	--bg-color: #202020;
	--text-color: #f0f0f0;
	--dark-text-color: #0f0f0f;

	--blue: #247fd9;
	--dark-blue: #064584;
	--lighter-blue: #00b7ff;
	--medium-blue: #0f536e;
	--blue-tint-green: #00d3ee;
	--blue-green: #00e7bc;
	--green: #92f48a;
	--dark-green: #457442;
	--yellow: #f9f871;
	--pink: #f45b85;
	--maroon: #b71a54;
	--grey: #a5abbd;
	--black: #232b3d;
	--complementary-black: #132c45;
	--white: #bddaff;
	--glass-white: #9fc8ff74;
	--pure-white: white;
	--pure-black: black;
}

body {
	background-color: var(--black);
	color: var(--lighter-blue);
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.83em;
}

h6 {
	font-size: 0.67em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bolder;
}

a {
	text-decoration: underline;

	&:link {
		color: var(--link-color);
	}

	&:visited {
		color: var(--visited-link-color);
	}

	&:active {
		color: var(--active-link-color);
	}
}
